<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeletePatient</servlet-name>
  	<display-name>DeletePatient</display-name>
  	<description></description>
  	<servlet-class>Delete.DeletePatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAllergy</servlet-name>
  	<display-name>DeleteAllergy</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteAllergy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDiagnosis</servlet-name>
  	<display-name>DeleteDiagnosis</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteDiagnosis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEncounter</servlet-name>
  	<display-name>DeleteEncounter</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteEncounter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteHospital</servlet-name>
  	<display-name>DeleteHospital</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMedicaton</servlet-name>
  	<display-name>DeleteMedicaton</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteMedicaton</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMedication</servlet-name>
  	<display-name>DeleteMedication</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePMH</servlet-name>
  	<display-name>DeletePMH</display-name>
  	<description></description>
  	<servlet-class>Delete.DeletePMH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProvider</servlet-name>
  	<display-name>DeleteProvider</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteProvider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSmoking</servlet-name>
  	<display-name>DeleteSmoking</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteSmoking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteVaccinations</servlet-name>
  	<display-name>DeleteVaccinations</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteVaccinations</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeletePatient</servlet-name>
  	<url-pattern>/DeletePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAllergy</servlet-name>
  	<url-pattern>/DeleteAllergy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDiagnosis</servlet-name>
  	<url-pattern>/DeleteDiagnosis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEncounter</servlet-name>
  	<url-pattern>/DeleteEncounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteHospital</servlet-name>
  	<url-pattern>/DeleteHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMedicaton</servlet-name>
  	<url-pattern>/DeleteMedicaton</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMedication</servlet-name>
  	<url-pattern>/DeleteMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePMH</servlet-name>
  	<url-pattern>/DeletePMH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProvider</servlet-name>
  	<url-pattern>/DeleteProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSmoking</servlet-name>
  	<url-pattern>/DeleteSmoking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteVaccinations</servlet-name>
  	<url-pattern>/DeleteVaccinations</url-pattern>
  </servlet-mapping>
</web-app>
