<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeleteAllergy</servlet-name>
  	<display-name>DeleteAllergy</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteAllergy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAllergy</servlet-name>
  	<display-name>AddAllergy</display-name>
  	<description></description>
  	<servlet-class>aaa.AddAllergy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAllergy</servlet-name>
  	<display-name>UpdateAllergy</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateAllergy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDiagnosis</servlet-name>
  	<display-name>AddDiagnosis</display-name>
  	<description></description>
  	<servlet-class>aaa.AddDiagnosis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDiagnosis</servlet-name>
  	<display-name>UpdateDiagnosis</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateDiagnosis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDiagnosis</servlet-name>
  	<display-name>DeleteDiagnosis</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteDiagnosis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEncounter</servlet-name>
  	<display-name>AddEncounter</display-name>
  	<description></description>
  	<servlet-class>aaa.AddEncounter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEncounter</servlet-name>
  	<display-name>UpdateEncounter</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateEncounter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddHospital</servlet-name>
  	<display-name>AddHospital</display-name>
  	<description></description>
  	<servlet-class>aaa.AddHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMedication</servlet-name>
  	<display-name>AddMedication</display-name>
  	<description></description>
  	<servlet-class>aaa.AddMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPatient</servlet-name>
  	<display-name>AddPatient</display-name>
  	<description></description>
  	<servlet-class>aaa.AddPatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPMH</servlet-name>
  	<display-name>AddPMH</display-name>
  	<description></description>
  	<servlet-class>aaa.AddPMH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProvider</servlet-name>
  	<display-name>AddProvider</display-name>
  	<description></description>
  	<servlet-class>aaa.AddProvider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSmoking</servlet-name>
  	<display-name>AddSmoking</display-name>
  	<description></description>
  	<servlet-class>aaa.AddSmoking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddVaccinations</servlet-name>
  	<display-name>AddVaccinations</display-name>
  	<description></description>
  	<servlet-class>aaa.AddVaccinations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateHospital</servlet-name>
  	<display-name>UpdateHospital</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMedication</servlet-name>
  	<display-name>UpdateMedication</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePatient</servlet-name>
  	<display-name>UpdatePatient</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdatePatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePMH</servlet-name>
  	<display-name>UpdatePMH</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdatePMH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProvider</servlet-name>
  	<display-name>UpdateProvider</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateProvider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSmoking</servlet-name>
  	<display-name>UpdateSmoking</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateSmoking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVaccinations</servlet-name>
  	<display-name>UpdateVaccinations</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateVaccinations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEncounter</servlet-name>
  	<display-name>DeleteEncounter</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteEncounter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteHospital</servlet-name>
  	<display-name>DeleteHospital</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMedication</servlet-name>
  	<display-name>DeleteMedication</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePatient</servlet-name>
  	<display-name>DeletePatient</display-name>
  	<description></description>
  	<servlet-class>Delete.DeletePatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePMH</servlet-name>
  	<display-name>DeletePMH</display-name>
  	<description></description>
  	<servlet-class>Delete.DeletePMH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProvider</servlet-name>
  	<display-name>DeleteProvider</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteProvider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSmoking</servlet-name>
  	<display-name>DeleteSmoking</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteSmoking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteVaccinations</servlet-name>
  	<display-name>DeleteVaccinations</display-name>
  	<description></description>
  	<servlet-class>Delete.DeleteVaccinations</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteAllergy</servlet-name>
  	<url-pattern>/DeleteAllergy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAllergy</servlet-name>
  	<url-pattern>/AddAllergy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAllergy</servlet-name>
  	<url-pattern>/UpdateAllergy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDiagnosis</servlet-name>
  	<url-pattern>/AddDiagnosis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDiagnosis</servlet-name>
  	<url-pattern>/UpdateDiagnosis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDiagnosis</servlet-name>
  	<url-pattern>/DeleteDiagnosis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEncounter</servlet-name>
  	<url-pattern>/AddEncounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEncounter</servlet-name>
  	<url-pattern>/UpdateEncounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddHospital</servlet-name>
  	<url-pattern>/AddHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMedication</servlet-name>
  	<url-pattern>/AddMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPatient</servlet-name>
  	<url-pattern>/AddPatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPMH</servlet-name>
  	<url-pattern>/AddPMH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProvider</servlet-name>
  	<url-pattern>/AddProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSmoking</servlet-name>
  	<url-pattern>/AddSmoking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddVaccinations</servlet-name>
  	<url-pattern>/AddVaccinations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateHospital</servlet-name>
  	<url-pattern>/UpdateHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMedication</servlet-name>
  	<url-pattern>/UpdateMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePatient</servlet-name>
  	<url-pattern>/UpdatePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePMH</servlet-name>
  	<url-pattern>/UpdatePMH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProvider</servlet-name>
  	<url-pattern>/UpdateProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSmoking</servlet-name>
  	<url-pattern>/UpdateSmoking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVaccinations</servlet-name>
  	<url-pattern>/UpdateVaccinations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEncounter</servlet-name>
  	<url-pattern>/DeleteEncounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteHospital</servlet-name>
  	<url-pattern>/DeleteHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMedication</servlet-name>
  	<url-pattern>/DeleteMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePatient</servlet-name>
  	<url-pattern>/DeletePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePMH</servlet-name>
  	<url-pattern>/DeletePMH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProvider</servlet-name>
  	<url-pattern>/DeleteProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSmoking</servlet-name>
  	<url-pattern>/DeleteSmoking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteVaccinations</servlet-name>
  	<url-pattern>/DeleteVaccinations</url-pattern>
  </servlet-mapping>
</web-app>
