<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UpdatePatient</servlet-name>
  	<display-name>UpdatePatient</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdatePatient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAllergy</servlet-name>
  	<display-name>UpdateAllergy</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateAllergy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDiagnosis</servlet-name>
  	<display-name>UpdateDiagnosis</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateDiagnosis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEncounter</servlet-name>
  	<display-name>UpdateEncounter</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateEncounter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateHospital</servlet-name>
  	<display-name>UpdateHospital</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateHospital</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMedication</servlet-name>
  	<display-name>UpdateMedication</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateMedication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePMH</servlet-name>
  	<display-name>UpdatePMH</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdatePMH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProvider</servlet-name>
  	<display-name>UpdateProvider</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateProvider</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSmoking</servlet-name>
  	<display-name>UpdateSmoking</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateSmoking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVaccinations</servlet-name>
  	<display-name>UpdateVaccinations</display-name>
  	<description></description>
  	<servlet-class>ccc.UpdateVaccinations</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdatePatient</servlet-name>
  	<url-pattern>/UpdatePatient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAllergy</servlet-name>
  	<url-pattern>/UpdateAllergy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDiagnosis</servlet-name>
  	<url-pattern>/UpdateDiagnosis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEncounter</servlet-name>
  	<url-pattern>/UpdateEncounter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateHospital</servlet-name>
  	<url-pattern>/UpdateHospital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMedication</servlet-name>
  	<url-pattern>/UpdateMedication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePMH</servlet-name>
  	<url-pattern>/UpdatePMH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProvider</servlet-name>
  	<url-pattern>/UpdateProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSmoking</servlet-name>
  	<url-pattern>/UpdateSmoking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVaccinations</servlet-name>
  	<url-pattern>/UpdateVaccinations</url-pattern>
  </servlet-mapping>
</web-app>
